.dashboard {
  display: grid;
  grid-template-columns: max-content repeat(4, 1fr);
  grid-template-rows: 100vh;

  &__sidebar {
    grid-row: 1/-1;
    grid-column: 1/2;

    // width: 100%;
  }
}

.dsidebar {
  display: grid;
  grid-template-columns: 1fr;

  height: 100%;
  grid-template-rows: 10rem 1fr;
  align-content: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(34, 50, 82, 1) 0%,
    rgba(21, 52, 83, 1) 100%
  );
  width: 12rem;
  transition: width 0.25s;

  &-1 {
    width: 100%;
    height: 100%;
    display: grid;

    &-photo {
      height: 3.5rem;
      width: 3.5rem;
      background-color: gray;
      border-radius: 100rem;
      margin-top: 4rem;
      align-self: center;
      justify-self: center;
      display: flex;
      color: white;
      font-size: 2rem;
      justify-content: center;
      font-weight: 700;

      align-items: center;
    }
  }
  &-3 {
    grid-row: 2/3;
    align-self: start;
    color: white;
    margin-top: 2rem;
    width: 6rem;

    // margin-left: 1.5rem;
  }
  &-2 {
    grid-row: 2/3;
    justify-self: end;
    align-self: start;
    color: white;
    margin-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-items: end;
    justify-content: end;
    align-content: end;

    &-menu {
      &-icon {
        margin-left: 1rem;
        display: flex;
        flex-direction: column;
        position: relative;
        & span {
          color: white;
          margin-top: 1rem;
          position: absolute;
          bottom: -0.7rem;
          left: -0.2rem;
          font-size: 1rem;
          width: 8rem;
          height: 1rem;
        }
      }
      &-des {
        margin-right: 0.5rem;
      }
      &-item {
        display: flex;
        height: 4rem;
        width: 85%;

        align-items: center;

        justify-content: space-between;
        justify-self: end;

        position: relative;
        z-index: 10;
        margin: 0.2rem 0 0.2rem 1rem;

        &:hover {
          cursor: pointer;
          background-color: rgba(255, 255, 255, 0.473);
          border-top-left-radius: 125px;
          border-bottom-left-radius: 125px;
          padding-right: 1.5rem;

          &:active {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

.final {
  margin-top: 7rem;
  align-items: center;
  justify-content: start;
  align-self: start;
  height: 4rem;
  width: 45%;
  display: flex;

  &:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.473);
    border-top-right-radius: 125px;
    border-bottom-right-radius: 125px;

    &:active {
      transform: scale(1.1);
    }
  }

  &-1 {
    margin-top: 7rem;
    align-items: center;
    justify-content: start;
    align-self: start;
    height: 4rem;
    display: flex;

    & div {
      & svg {
        margin-left: 1rem !important;
      }
    }

    &:hover {
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.473);
      border-top-right-radius: 125px;
      border-bottom-right-radius: 125px;
      width: 4rem;

      &:active {
        transform: scale(1.1);
      }
    }
  }
}

.collapse {
  display: grid;
  width: 5rem;
  height: 100%;
  transition: width 0.2s;
  grid-template-rows: 10rem 1fr;
  align-content: center;
  justify-content: center;
  justify-items: center;
  align-items: center;

  background: linear-gradient(
    90deg,
    rgba(34, 50, 82, 1) 0%,
    rgba(21, 52, 83, 1) 100%
  );
}
.none {
  display: none;
}

.text {
  padding: 0.3rem;
  width: 9rem;
  background: #ffffffa4;
  text-align: end;
  margin: 0 auto;
  background-color: black;
  position: absolute;
  bottom: -1.6rem;
  left: -0.1rem;
  text-align: center;
  z-index: 1000;
}
.active {
  background-color: rgba(255, 255, 255, 0.473);
  border-top-left-radius: 125px;
  border-bottom-left-radius: 125px;
  padding-right: 1rem;
}

.span {
  height: 0.1rem;
  width: 80%;
  background-color: rgb(207, 193, 0);
  justify-self: center;
  align-self: end;
}
